.title {
    padding: 4px;
    color: white;
    background-color: #547B97;
    position: fixed;
    left: 258px;
    right: 258px;
}
.date {
    text-align: right;
    display: block;
    float: right;
}
.content {
    margin-top: 12px;
    padding: 4px;
}
