.title {
    padding: 4px;
    color: white;
    background-color: #547B97;
    position: fixed;
    left: 258px;
    right: 258px;
}
.date {
    text-align: right;
    display: block;
    float: right;
}
.content {
    margin-top: 12px;
    padding: 10px 25px;
    text-align: justify;
}
.content a {
    color: #547B97;
}
.content a:hover {
    color: #212B40;
}
.notice {
    background: #7B1919;
    margin-top: 30px;
    padding: 20px;
}
