.ui-datepicker {
    width: 258px;
}
.ui-datepicker .ui-datepicker-header {
    padding: .3em 0;
    background-color: #547B97;
    color: white;
}
.ui-datepicker .ui-datepicker-title {
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    /*width: 90px;*/
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    background: url("/images/left_n2.png") no-repeat right top;
}
.ui-datepicker .ui-datepicker-prev-hover {
    background: url("/images/left_h.png") no-repeat right top;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    background: url("/images/right_n.png") no-repeat;
}
.ui-datepicker .ui-datepicker-next-hover {
    background: url("/images/right_h.png") no-repeat;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin:0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em; 
    text-align: right;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-datepicker-other-month {
    color: #BADCDD;
}
.ui-state-disabled {
    color: white;
}
/* events */
#events {
    display: none;
    width: 258px;
    border-top: #547B97 solid 2px;
    position: fixed;
}
.event {
    display: block;
}
