.leftspan {
    display: block;
    text-align: right;
    padding-right: 5px;
    color: #547B97;
    font-size: 22px;
}
#footer {
    position: fixed;
    bottom: 0px;
    text-align: right;
    color: #547B97;
    width: 245px;
}
.sidenotes {
  font-size: 15px;
}
.sidenotes a {
    color: #547B97;
}
.sidenotes a:hover {
    color: #212B40;
}
.projects {
    display: block;
}
.unmaintained {
    text-decoration: line-through;
}
#cloud {
    position: fixed;
    top: 0px;
    border-bottom: #547B97 solid 2px;
    width: 258px;
}
#calendar {
    position: fixed;
    bottom: 0px;
}
