.leftspan {
    display: block;
    text-align: right;
    padding-right: 5px;
    color: #547B97;
    font-size: 22px;
}
#footer {
    position: fixed;
    bottom: 0px;
    text-align: right;
    color: #547B97;
    width: 245px;
}
.sidenotes a {
    color: #547B97;
}
.sidenotes a:hover {
    color: #212B40;
}
#right a {
    padding-left: 5px;
}
.unmaintained {
    text-decoration: line-through;
}
