<div class="sidenotes">
    <span class="leftspan">
        Kenji Takahashi
    </span>
    A student of Computer Science at The University of Wrocław, Poland. Mainly interested in high-level, dynamic programming and (G)UI designs. Likes good music and classic sci-fi books.
</div>
<div class="sidenotes">
    <span class="leftspan">
        Projects
    </span>
    <span><a href="http://kenjitakahashi.github.com/gayeogi/" target="_blank">gayeogi</a> is a fully-featured music management software.</span>
    <span><a href="https://github.com/KenjiTakahashi/OCamloid" class="unmaintained" target="_blank">OCamloid</a> is a rather simple Arkanoid clone written in OCaml.</span>
</div>
<div id="footer">
    Kenji Takahashi &copy; 2011
</div>
