<div class="title">
    {{ page.title }}
    <span class="date">{{ page.date | date_to_long_string }}</span>
</div>
<div class="content">
    {{ page.content | markdownify }}
</div>
<!-- START: Livefyre Embed -->
<!-- END: Livefyre Embed -->
<div id="disqus_thread"></div>
<div id="comments">
<script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
<script type='text/javascript'>
    var fyre = LF({
        site_id: 296754
    });
</script>
</div>
